/* styles.css */

.container {
    text-align: center;
  }
  
  .text-area-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .text-area {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
  }
  